.header
    .header__header
        .header__column
            a(href=routes.home)
                i.fab.fa-twitch
        .header__column
            form(action=routes.search, method="get")
                input(type="text" placeholder="search", name="search")
                button
                    i.fa.fa-search
        .header__column
            if !user.isAthenticated
                a(href=routes.login) 
                    button Login
                a(href=routes.join)
                    button Join
            else
                a(href=routes.userDetail(user.id))
                    button User Detail
                a(href=`${routes.video}/upload`)
                    button Upload
                a(href=routes.logout)
                    button Log Out  
            
