extends layouts/main

block content
    .videoDetail
        video(src=video.videoFile, controls=true, autoplay=true)
    .videoDetail_column
        
    .videoDetail_column
        .Description=video.description
        .game=video.game
    .editVideo
        a(href=routes.editVideo(video.id)) editVideo