mixin videoBlock(video = {})
    .videoBlock
            .videoBlock__column-1       
                a(href=routes.videoDetail(video.id))  
                    img.imageBlock__thumnail(src=video.imageFile)
            .videoBlock__column-2
                .videoBlock__column-2-1
                    img.avatar__thumnail(src=video.avatarUrls)
                .videoBlock__column-2-2
                    h2.videoBlock__create=video.creator
                    h4.videoBlock__title=video.title
                    h6.videoBlock__game=video.game